body {
    font-family: Arial, sans-serif;
    text-align: center;
      }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #converter-form {
    display: inline-flex;
    gap: 10px;
  }
  
  #result {
    margin-top: 20px;
  }
